.radio-container {
  width: 100%;
  // border: 1px solid rgb(3, 3, 3);
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  min-height: 34rem;
  max-height: 40rem;

  @media (min-width: 1920px) and (max-width: 2559px) {
    max-height: 35rem;
  }

  .card-title {
    width: 85%;
    margin-top: 1rem;
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 1rem;
    @media (min-width: 2560px) and (max-width: 5560px) {
      font-size: 2.2rem;
     }
  }

  .border-line {
    width: 85%;
  }

  .radio-box {
    width: 90%;
    height: 100%;

    .filters {
      width: 100%;
      height: 10%;

      display: flex;
      justify-content: center;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 1rem;

      span {
        width: 5rem;
        padding: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 1.2rem;
        
        text-transform: uppercase;
        
      }
    }

    .stations {
      width: 100%;
      height: 90%;
      overflow-y: scroll;
      
      .station {
        width: 100%;
        height: 20%;
        display: flex;

        align-items: center;
        

        .stationName {
          img {
            width: 5rem;
            height: 5rem;
            margin-right: 1rem;
          }
        }

        .name-player-container {
          .name {
            font-size: 1.1rem;
            margin-bottom: 0.4rem;
            font-weight: bold;
          }

          .player {
           
            display: flex;
          }

          .rhap_container.player {
            display: flex;
            width: 16rem;
            height: 2.3rem;
            padding: 0rem 2rem;

            @media (min-width: 2560px) and (max-width: 3559px) {
              width: 20rem;
            }
          }

          .rhap_stacked .rhap_controls-section {
            margin-top: 0 !important;
            margin-bottom: 1rem;
          }

          .rhap_controls-section .rhap_volume-controls {
            justify-content: center;

            align-items: center;
            height: 2.3rem;
            //  border: 1px solid red;

            svg{
              width: 2rem;
            }
          }

          .rhap_main-controls button[aria-label="Play"] {
            width: 5rem;
            display: flex;
            align-items: center;
            height: 2.3rem;
            //  border: 1px solid red;

            svg {
              width: 2rem;
            }
          }
          .rhap_main-controls button[aria-label="Pause"] {
            width: 5rem;
            display: flex;
            align-items: center;
            height: 2.3rem;
            svg {
              width: 2rem;
            }
          }
        }
      }
    }
  }
}
