
//Dark Mode
$primary: #252525;
$accent: #393939;
$secondary: #313131;
$fontColor: #fafafa;
$colorPlaceholder: rgb(28, 28, 28);


//////Light Mode
$primaryLight: #f4f4f4;
$secondaryLight: rgba(252, 252, 252, 0.913);
$accentLight: rgba(229, 245, 233, 0.833);
$fontColorLight: black;
$colorPlaceholderLight: rgb(55, 55, 55);
