.main {
  width: 90%;
  // max-width: 1440px;
  // max-height: 1160px; /// ???? which, check later
 height: 100vh;
  // border: 2px solid rgb(203, 13, 13);
  margin: auto;
  display: flex;
  flex-direction: column;
 
  overflow-y: scroll;
  position: relative;
 
  @media (min-width: 1920px) and (max-width: 2559px) {
    max-width: 1300px;
  }

  @media (min-width: 2560px) and (max-width: 4559px) {
    max-width: 1640px;
  }

  @media (min-width: 1000px) and (max-width: 1290px) {
    width: 97%;
  }

  @media (min-width: 300px) and (max-width: 1200px) {
    width: 100%;
    
  }

 



 

  .main-layout-container {
    overflow-y: scroll;
    display: flex;

  }
}

// overflow: hidden;
