@import "../../variables/variables.scss";
@import "../../_reset.scss";

.background {
  display: flex;
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.theme-btn {
  position: absolute;
  width: 30px;
  right: 2rem;
  top: 2rem;
  z-index: 3;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
  }

  @media (min-width: 300px) and (max-width: 767px) {
    width: 20px;
  }
}

.sign-section-left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (min-width: 1000px) and (max-width: 1231px) {
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1000px) {
    width: 100%;
  }

  @media (min-width: 300px) and (max-width: 767px) {
    width: 100%;
    display: none;
  }

  img {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 10rem;
    z-index: 3;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: 0.1s ease-in-out;
    }
  }

  .model-background-left {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    rotate: 180deg;

    filter: opacity(0.5);

    @media (min-width: 768px) and (max-width: 1000px) {
      width: 100%;
    }

    @media (min-width: 1000px) and (max-width: 1431px) {
      width: 100%;
    }
  }

  .left-section-box {
    width: 100%;
    position: relative;
  }
}

.sign-section-middle {
  width: 40%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;

  @media (min-width: 1000px) and (max-width: 1231px) {
    width: 45%;
    align-items: end;
    margin-right: 2rem;
  }

  @media (min-width: 768px) and (max-width: 1000px) {
    width: 45%;
    align-items: end;
    margin-right: 2rem;
  }

  @media (min-width: 300px) and (max-width: 767px) {
    width: 100%;
    height: 100%;
  }

  .sign-text-container {
    width: 100%;
    display: flex;
    width: 100%;
    margin-top: 4rem;

    @media (min-width: 1000px) and (max-width: 1231px) {
      display: none;
    }

    @media (min-width: 768px) and (max-width: 1000px) {
      display: none;
    }

    @media (min-width: 300px) and (max-width: 767px) {
      display: none;
    }

    h2 {
      text-align: center;
      font-size: clamp(1.25rem, 0.75rem + 2.2222vw, 2rem);
      font-family: "Poppins", sans-serif;
    }
  }
  .sign-form-box {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 52rem;
    width: 55%;
    min-width: 35rem;
    max-width: 35rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-top: 3rem;

    @media (min-width: 1000px) and (max-width: 1231px) {
      height: 40rem;
      max-height: 49rem;
      width: 55%;
      min-width: 32rem;
      max-width: 35rem;
    }

    @media (min-width: 768px) and (max-width: 1000px) {
      height: 40rem;
      max-height: 60rem;
      width: 55%;
      min-width: 32rem;
      max-width: 35rem;
    }

    @media (min-width: 300px) and (max-width: 767px) {
      width: 90%;
      min-width: 32rem;
      max-width: 35rem;
    }

    .logo-img-login {
      z-index: 25;
      position: absolute;
      width: 5.5rem;
      top: 1.5rem;
      right: 1.5rem;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.1s ease-in-out;
      }
    }

    h2 {
      position: absolute;
      z-index: 10;
      color: rgb(255, 255, 255);
      left: 2rem;
      top: 5.5rem;
      font-size: 3.3rem;
      font-family: "Poppins", sans-serif;
      line-height: 37px;
      font-weight: 500;

      @media (min-width: 1000px) and (max-width: 1231px) {
        left: 1.5rem;
        top: 1.5rem;
        font-size: 2.5rem;
        font-family: "Poppins", sans-serif;
        line-height: 30px;
      }

      @media (min-width: 768px) and (max-width: 1000px) {
        left: 1.5rem;
        top: 1.5rem;
        font-size: 2.5rem;
        font-family: "Poppins", sans-serif;
        line-height: 30px;
      }
    }

    .welcome-p {
      position: absolute;
      z-index: 10;
      color: rgb(255, 255, 255);
      left: 2rem;
      top: 13.9rem;
      font-size: 1.2rem;
      font-family: "Poppins", sans-serif;

      @media (min-width: 1000px) and (max-width: 1231px) {
        left: 1.5rem;
        top: 8rem;
        font-size: 1.1rem;
        font-family: "Poppins", sans-serif;
        line-height: 30px;
      }

      @media (min-width: 768px) and (max-width: 1000px) {
        left: 1.5rem;
        top: 8rem;
        font-size: 1.1rem;
        font-family: "Poppins", sans-serif;
        line-height: 30px;
      }
    }

    .welcome-section-container {
      width: 260%;
      height: 42rem;
      background-color: rgb(62, 62, 62);
      border-radius: 50%;
      position: absolute;
      top: -220px;
      right: -60px;
      transform: rotate(10deg);

      @media (min-width: 1000px) and (max-width: 1231px) {
        height: 34rem;
      }

      @media (min-width: 768px) and (max-width: 1000px) {
        height: 34rem;
      }
    }

    .form {
      width: 100%;
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      // margin-bottom: 0.5rem;

      input {
        height: 3rem;
        border: none;
        border-radius: 3px;
        margin-top: 2rem;
        width: 90%;
        padding: 1rem;

        &::placeholder {
          font-size: 1.4rem;
        }
      }

      .button-sign-in {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        width: 12rem;
        height: 4rem;
        cursor: pointer;

        @media (min-width: 1000px) and (max-width: 1231px) {
          height: 3.5rem;
          width: 11.5rem;
        }

        @media (min-width: 768px) and (max-width: 1000px) {
          height: 3.5rem;
          width: 11.5rem;
        }

        &:hover {
          transform: scale(1.1);
          transition: 0.1s ease-in-out;
        }
      }
    }

  }

  a {
    margin-bottom: 0.8rem;
    text-decoration: none;
    p {
      font-size: 1.3rem;
      text-decoration: none;

      @media (min-width: 767px) and (max-width: 1240px) {
        display: none;
      }
    }
  }

  .border-white {
    width: 256px;
    margin-top: 0.5rem;
  }

  .create-acc-btn {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    height: 4.5rem;
    width: 16rem;

    @media (min-width: 1000px) and (max-width: 1231px) {
      height: 4rem;
      width: 13rem;
    }

    @media (min-width: 768px) and (max-width: 1000px) {
      height: 4rem;
      width: 13rem;
    }

    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: 0.1s ease-in-out;
    }
  }
}

.sign-section-right {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (min-width: 1000px) and (max-width: 1231px) {
    display: none;
  }

  @media (min-width: 768px) and (max-width: 1000px) {
    display: none;
  }
  @media (min-width: 300px) and (max-width: 767px) {
    display: none;
  }

  .model-background-right {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    filter: opacity(0.5);
  }
}
.sign-in-error {
  color: rgb(255, 0, 0);
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
  margin-top: 0.2rem;
  margin-bottom: 1rem;

  @media (min-width: 767px) and (max-width: 1240px) {
   
    margin-top: 0rem;
    margin-bottom: 0.4rem;
  }
}
